.weather-container {
  background-color: antiquewhite;
  color: grey;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
  border: 1px solid #ccc;

  /* max-width: 40rem; */
}
.weather-title {
  font-weight: bold;
}

.weather-body {
  background-color: aqua;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  display: grid;
  text-align: center;
}
