.weather-container {
  background-color: white;
  color: grey;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  margin: 3.2rem 1.6rem;
  border: 1px solid #ccc;

  /* max-width: 40rem; */
}
.weather-title {
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-self: center;
  justify-content: center;
}

.weather-body {
  background-color: blue;
  margin-bottom: 3.2rem;
}

.weather-detail {
  margin: 0 1.6rem;
  font-size: 0.8rem;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  display: grid;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
}
